Repository Armor-test/monitoring-monitor-952, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/squad-ux, @Armor-test/dept-release, @Armor-test/unit-design, @Armor-test/dept-notifications, @Armor-test/squad-tooling, @Armor-test/team-notifications, @Armor-test/grp-integration, @Armor-test/dept-data, @Armor-test/grp-reporting, @Armor-test/team-frontend, @Armor-test/dept-identity, @Armor-test/squad-performance, @Armor-test/dept-automation, @Armor-test/squad-cloud, @Armor-test/dept-logging, @Armor-test/unit-cloud, @Armor-test/grp-storage, @Armor-test/squad-product, @Armor-test/dept-security, @Armor-test/team-logging, @Armor-test/squad-ml, @Armor-test/squad-research, @Armor-test/team-research, @Armor-test/grp-payments, @Armor-test/grp-ui, @Armor-test/squad-qa, @Armor-test/dept-reliability, @Armor-test/squad-apps, @Armor-test/grp-api, @Armor-test/team-governance, @Armor-test/squad-frontend, @Armor-test/squad-search, @Armor-test/team-core, @Armor-test/team-reporting, @Armor-test/grp-search, @Armor-test/squad-payments, @Armor-test/team-security, @Armor-test/squad-cache, @Armor-test/dept-api, @Armor-test/security, @Armor-test/compliance, @Armor-test/ci-team, @Armor-test/devops, @Armor-test/auth-team, @Armor-test/infra, @Armor-test/dependency-team

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/dept-release, @Armor-test/unit-design

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/dept-release, @Armor-test/unit-design

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/dept-release, @Armor-test/unit-design

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-research, @Armor-test/squad-cache, @Armor-test/dept-identity

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-ml, @Armor-test/team-core

.github/CODEOWNERS:

# CODEOWNERS file for monitoring-monitor-952
# Global owners - will be requested for all PRs
* @Armor-test/squad-ux @Armor-test/dept-release @Armor-test/unit-design

# Directory ownership
/pkg/ @Armor-test/dept-notifications @Armor-test/squad-tooling
/scripts/ @Armor-test/team-notifications @Armor-test/grp-integration
/shared/ @Armor-test/dept-data @Armor-test/grp-reporting @Armor-test/team-frontend
/vendor/ @Armor-test/dept-identity @Armor-test/squad-performance @Armor-test/dept-automation
/utils/ @Armor-test/squad-cloud @Armor-test/dept-identity
/static/ @Armor-test/dept-logging @Armor-test/grp-integration @Armor-test/unit-cloud
/web/ @Armor-test/squad-tooling @Armor-test/unit-design @Armor-test/grp-storage
/modules/ @Armor-test/squad-ux @Armor-test/squad-product @Armor-test/dept-security
/helpers/ @Armor-test/dept-automation @Armor-test/team-logging @Armor-test/squad-ml
/deploy/ @Armor-test/squad-research @Armor-test/team-research @Armor-test/grp-payments
/tools/ @Armor-test/grp-ui @Armor-test/team-research @Armor-test/dept-logging
/examples/ @Armor-test/squad-qa @Armor-test/dept-reliability @Armor-test/team-logging

# File type ownership
*.java @Armor-test/squad-apps @Armor-test/dept-automation
*.tf @Armor-test/grp-api @Armor-test/team-governance
*.sql @Armor-test/squad-ml @Armor-test/squad-cloud @Armor-test/squad-research
*.proto @Armor-test/squad-frontend @Armor-test/team-logging @Armor-test/squad-search
*.css @Armor-test/dept-data @Armor-test/dept-reliability
*.js @Armor-test/squad-ml @Armor-test/team-core
*.swift @Armor-test/squad-tooling @Armor-test/squad-performance @Armor-test/team-frontend
*.lock @Armor-test/grp-payments @Armor-test/team-reporting @Armor-test/grp-search
*.scss @Armor-test/squad-payments @Armor-test/dept-notifications
*.cpp @Armor-test/squad-tooling @Armor-test/team-security
*.py @Armor-test/squad-research @Armor-test/squad-cache @Armor-test/dept-identity
*.yaml @Armor-test/squad-cache @Armor-test/grp-api
*.json @Armor-test/dept-api @Armor-test/squad-ux

# Security and special files
/src/**/security/ @Armor-test/security @Armor-test/compliance
Jenkinsfile @Armor-test/ci-team @Armor-test/devops
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
Dockerfile @Armor-test/devops @Armor-test/infra
package.json @Armor-test/dependency-team @Armor-test/security
